// Colors
$color-1: #FDB145;
$color-2: #6ECA96;
$color-3: #FA8782;
$color-4: #FA463C;
$color-5: #B9C3D7;
$color-6: #E6E6E6;
$color-7: #FFFFFF;
$color-8: #0A50D7;
$color-9: #F2F2F2;
$color-10: #0A1E32;
$color-11: #AFB4BE;
$color-12: #000000;
$color-13: #141414;
