// Text size
.text-lg { font-size: 2.8em; }

// Text align
.text-left { text-align: left; }

// Text weight
.text-bold { font-weight: 700; }

// Text color
.text-gray { color: $color-11; }
.text-blue { color: $color-8; }
.text-red { color: $color-3; }
